{% block sw_cms_block_image_text_six_block_preview %}
    <div class="sw-cms-preview-image-text-six-block">
        <div class="sw-cms-preview-image-text-six-block-col">
            <div class="sw-cms-preview-image-text-six-block__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-six-block__text">
                <h4>Ipsum</h4>
            </div>
        </div>
        <div class="sw-cms-preview-image-text-six-block-col">
            <div class="sw-cms-preview-image-text-six-block__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-six-block__text">
                <h4>Ipsum</h4>
            </div>
        </div>
        <div class="sw-cms-preview-image-text-six-block-col">
            <div class="sw-cms-preview-image-text-six-block__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-six-block__text">
                <h4>Ipsum</h4>
            </div>
        </div>
        <div class="sw-cms-preview-image-text-six-block-col">
            <div class="sw-cms-preview-image-text-six-block__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-six-block__text">
                <h4>Ipsum</h4>
            </div>
        </div>
        <div class="sw-cms-preview-image-text-six-block-col">
            <div class="sw-cms-preview-image-text-six-block__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-six-block__text">
                <h4>Ipsum</h4>
            </div>
        </div>
        <div class="sw-cms-preview-image-text-six-block-col">
            <div class="sw-cms-preview-image-text-six-block__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-image-text-six-block__text">
                <h4>Ipsum</h4>
            </div>
        </div>
       

    </div>
{% endblock %}
