{% block sw_cms_block_image_text_six_block %}
    <div class="sw-cms-block-image-text-six-block">

        <div class="sw-cms-block-image-text-six-block__one">
            <slot name="one-image"></slot>
            <slot name="one-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-six-block__two">
            <slot name="two-image"></slot>
            <slot name="two-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-six-block__three">
            <slot name="three-image"></slot>
            <slot name="three-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-six-block__four">
            <slot name="four-image"></slot>
            <slot name="four-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-six-block__five">
            <slot name="five-image"></slot>
            <slot name="five-text"></slot>
        </div>

        <div class="sw-cms-block-image-text-six-block__six">
            <slot name="six-image"></slot>
            <slot name="six-text"></slot>
        </div>

    </div>
{% endblock %}
